<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.mybatis.dao.DepartmentMapper">

    <cache-ref namespace="com.jie.mybatis.dao.EmployeeMapper"/>

    <select id="getDepartmentById" resultType="com.jie.mybatis.bean.Department">
        select * from tbl_dept where id=#{id};
    </select>

    <resultMap id="myDept01" type="com.jie.mybatis.bean.Department">
        <id column="id" property="id"/>
        <result column="dept_name" property="deptName"/>
        <!--
        collection：定义集合类型属性的封装规则
        ofType：指定集合里的元素类型
        -->
        <collection property="employees" ofType="com.jie.mybatis.bean.Employee">
            <id column="eid" property="id"/>
            <result column="last_name" property="lastName"/>
            <result column="gender" property="gender"/>
            <result column="email" property="email"/>
        </collection>
    </resultMap>
    <select id="getDepartmentByIdPlus" resultMap="myDept01">
        select d.id, d.dept_name,
              e.id eid, e.last_name, e.gender, e.email, e.dept_id
        from tbl_dept d left join tbl_employee e on d.id=e.dept_id
        where d.id=#{id};
    </select>


    <resultMap id="myDeptStep" type="com.jie.mybatis.bean.Department">
        <id column="id" property="id"/>
        <result column="dept_name" property="deptName"/>
        <collection property="employees"
                    select="com.jie.mybatis.dao.EmployeeMapperPlus.getEmployeeByDeptId"
                    column="{deptId=id}" fetchType="eager"/>
    </resultMap>
    <select id="getDepartmentByIdStep" resultMap="myDeptStep">
        select id, dept_name from tbl_dept where id=#{id}
    </select>
</mapper>