<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties"/>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
       <!-- <typeAlias type="com.jie.mybatis.bean.Employee" alias="emp"/>-->
        <package name="com.jie.mybatis.bean"/>
    </typeAliases>

    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>
    </databaseIdProvider>

    <mappers>
        <!--<mapper resource="com/jie/mybatis/dao/EmployeeMapper.xml"/>-->
       <!-- <mapper class="com.jie.mybatis.dao.EmployeeMapper"/>-->

        <!--<mapper class="com.jie.mybatis.dao.EmployeeAnnotationMapper"/>-->

        <package name="com.jie.mybatis.dao"/>
    </mappers>
</configuration>