<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.mybatis.dao.EmployeeDynamicMapper">

    <select id="getEmployeeByCondition" resultType="com.jie.mybatis.bean.Employee">
        select * from tbl_employee
        <where>
            <if test="id != null">
                id =#{id}
            </if>
            <if test="lastName != null and lastName != ''">
                and last_name = #{lastName}
            </if>
            <if test="gender == 0 or gender == 1">
                and gender=#{gender}
            </if>
            <if test="email !=null and email != ''">
                and email=#{email}
            </if>
        </where>
    </select>
</mapper>