<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jie.mybatis.dao.EmployeeMapper">

    <select id="getEmployee" resultType="com.jie.mybatis.bean.Employee">
      select id, email, last_name from tbl_employee where id = #{id}
    </select>

    <!--parameterType 是可以省略的-->
    <insert id="addEmp" parameterType="com.jie.mybatis.bean.Employee">
        insert into tbl_employee(last_name, email, gender) values (#{lastName}, #{email}, #{gender})
    </insert>

    <update id="updateEmp">
        update tbl_employee
        set last_name=#{lastName}, email=#{email}, gender=#{gender}
        where id=#{id}
    </update>

    <delete id="deleteEmp">
        delete from tbl_employee where id=#{id}
    </delete>

</mapper>